* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "JetBrains Mono", monospace;;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-color: #fdfdfd;
}

header {
    display: flex;
    background-color: white;
    max-height: 200px;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin-left: 2%;
}

header p {
    margin-left: auto;
    margin-right: 2%;
    width: 10vw;
}
